* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 44px 10px 90px 10px;
}

.link-navbar {
    width: 79px;
    height: 29px;
    margin: 0 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
}

.link-navbar:hover {
    color: #676868;
}

.button-login {
    width: 130px;
    height: 41px;
    border: none;
    margin-left: 15px;
    border-radius: 20px;
    background: #665AE1;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
}

.button-login:hover {
    background: #5a50c9;
}

.button-login:active {
    background: #463e9b;
}

.vet {
    display: flex;
    width: 150%;
    margin-bottom: 100px;
    margin-left: -80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column1 {
    display: flex;
    width: 80vw;
    height: 100vh;
    margin-left: 100px;
    position: relative;
}

.column2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-bottom: 32px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-bottom: 50px;
}

.button-explore {
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    width: 200px;
    height: 70px;
    background: #ADFF00;
    border: none;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
}

.button-explore:hover {
    background: #a6f300;
}

.button-explore:active {
    background: #96db00;
}

.icon {
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
    display: none;
}

@media (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        height: 320px;
        margin-bottom: 0px;
        margin-top: 0px;
        overflow: hidden;
        transition: all 1.4s 0.1s ease-in-out;
    }

    .link-navbar {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .icon {
        display: block;
    }

    .column1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 350px;
        height: 400px;
    }

    .column2 {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    h1 {
        display: flex;
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
    }

    p {
        width: 320px;
        display: flex;
        font-weight: 400;
        font-size: 24px;
        line-height: 19px;
        text-align: center;
    }

    .vet {
        width: 126%;
        height: 70%;
        margin-bottom: 0px;
        margin-left: 0px;
    }

}